html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 60px; 
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    background-color: #343a40;
    color: white;
    display: flex;
    align-items: center;  
    justify-content: center;
}
